.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  white-space: nowrap;
  overflow: hidden;
  width: 330%;
  
}
.text{
  color: #FFF;
  font-family: Bebas Neue;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  gap: 40px;
}

